body {
    text-align: center;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    width: 100%;
    height: 100vh;
}

.question{
    background-color: #f8f9fa;
    display: block;
}

.h2{
    font-size: 2rem;
}

.title {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 1rem;
}

.title > span {
    margin-left: 2rem;
    margin-right: 2rem;
}

.btn {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: 0px;
    color: #f8f9fa;
    margin: 0rem 0.5rem;
}

.btn-yes {
    background-color: #25ca4b;
}

.btn-no {
    background-color: red;
}

.answers {
    padding-bottom: 1rem;
}